#app {
	max-width: 300px;
}
main {
	width: 300px;
}
main img {
	width: 300px;
}
h3 {
	font-size: 1.7rem;
	margin-bottom: 4px;
}
h1 {
	margin-top: 8px;
	font-weight: 600;
}
section#credits {
	z-index: 1000;
}
.pages {
	border-top: 4px solid black;
	width: 300px;
	height: 600px;
	margin-top: 25px;
	margin-bottom: 400px;
	
}
#pageone {
	border-top: 0px;
	margin-top:-15px;
}
footer {
	margin-bottom: 200px;
}
.cls-1
      {fill:#a7a9ac;stroke:#bdb4ab;stroke-width:0.3px;}
.cls-2{
	fill:#ffcb05;
	}
.cls-3{
	fill:#a0262a;
	}
.cls-2:hover{
	fill: #ffe17f;
}
.cls-3:hover {
	fill: #8781bd;
}
.clickable-image {
	position: relative;
}
.explain {
	position: absolute;
	font-size: 1.7rem;
	line-height: 18px;
	color: black;
}
#oneExplain {
	top: 10px;
}
#oneExplain2 {
	top: 40px;
}
#twoExplain2, #threeExplain {
	top: 30px;
}
#fourExplain {
	margin-left: 75px;
	margin-right: 20px;
	top: 15px;
}
#fourExplain2 {
	margin-left: 75px;
	margin-right: 80px;
	top: 115px;
}
#fourExplain3 {
	margin-left: 255px;
	top: 325px;
}
#fourExplain4 {
	top: 68px;
	left: 10px;
}
#fiveExplain {
	margin-left: 75px;
	margin-right: 70px;
	top: 0px;
}
#fiveExplain2 {
	margin-left: 75px;
	margin-right: 90px;
	top: 100px;
}
#fiveExplain3 {
	margin-left: 98px;
	top: 325px;
	}
#sixExplain {
	margin-left: 135px;
	margin-right: 10px;
	top: 130px;
}
#sixExplain2 {
	top: 50px;
	left: 50px;
}
#sixExplain3 {
	top: 80px;
	left: 220px;
}
#sevenExplain {
	margin-left: 35px;
	margin-right: 35px;
	top: 10px;
}
	
.clickable-image svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.clickable-image svg g {
	cursor: pointer;
}
.clickable-image svg rect {
	stroke: #942C61;
	stroke-width: 4px;
	fill: #942C61;
	fill-opacity: 0.7;
	transition: fill-opacity 0.5s;
}
.clickable-image svg:hover rect {
	fill: white;
	fill-opacity: 0.4;
}
#sevenExplain2 {
	display: none;
}

@media screen and (min-width: 500px){
	#app {
		border-top: 0px;
		width: 100%;
		max-width: 600px;
	}
	#pageone {
	border-top: 4px solid black;
	margin-top: 25px;
}
	main {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	.pages {
		position: relative;
		width: 30%;
		margin-bottom: 0px;
		height: 400px;
		}
	.tidybox1 {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 400px;
		}
	.pages img {
		display: flex;
		align-items: flex-end;
		width: 90%;
		position: absolute;
		margin-top: 0px;
		padding-top: 0px;
		top: 70px;
	    }
	.explain {
		position: absolute;
		margin: 10px 10px;
	}
	#fullchart {
		position: absolute;
		margin-top: 0px;
		padding-top: 0px;
		top: 0px;
		}
	#fiveExplain3 {
		top: 230px;
		margin-left:90px;
	}
	#fiveExplain {
	margin-left: 55px;
	margin-right: 110px;
	top: 5px;
    }
    #fiveExplain2 {
	margin-left: 55px;
	margin-right: 110px;
	top: 100px;
    }
	#sevenExplain {
		display: none;
	}
	#sevenExplain2 {
		position: absolute;
		display: block;
		top: 200px;
    }
	#moneyman {
		position: absolute;
		top: 0px;
	}
    #pagefive h1, #pagefive h3 {
		display: none;
	}
	#pageseven h1 {
		display: none;
	}
	#oneExplain {
		top: -10px;
	}
	#oneExplain2, #twoExplain2, #threeExplain {
		top: 20px;
	}
	#pageone h3 {
		display: none;
	}	
	#pagetwo  h1, #pagethree h1, #pagefour h1, #pagefive h1, #pagesix h1 {
		opacity: 0;
	}
	#pagefour, #pagefive, #pageseven {
		border-top: 0.2px solid black;
	}
	#buttonsp1, #buttonsp2, #buttonsp3, #buttonsp4, #buttonsp5, #buttonsp6, #buttonsp7 {
		display: none;
	}
	#pagefour, #pagesix {
		display: none;
	}
    #pagefive {
		width: 60%;
	}	
	
footer {
	max-width: 600px;
	margin-top: 50px;
}
}